{% extends "default.tpl" %}


{% block content %}
            <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h2>Hi, I'm Kevin.</h2>
                            <p>Student of Computer Science and Mathematics<br />
                            Skydiver | Musician | Parachute Rigger</p>
                        </header>
                        <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                    </div>
                    <a href="#one" class="goto-next scrolly">Next</a>
                </section>

            <!-- One -->
                <section id="one" class="spotlight style1 bottom">
                    <span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="4u 12u$(medium)">
                                    <header>
                                        <h2>CS & Math<br>@ K-State</h2>
                                        <p>I study Computer Science and Mathematics at Kansas State University and plan
                                        to complete both degrees in Fall 2018.</p>
                                    </header>
                                </div>
                                <div class="4u 12u$(medium)">
                                    <p>During my time at K-State, I have organized two iterations of
                                    <a href="https://hackkstate.tech/" target="_blank">Hack K-State</a>, started a
                                    <a href="http://wdc.cis.ksu.edu/" target="_blank">Web Development Club</a>, made my first
                                    <a href="https://skydivekstate.com/" target="_blank">skydive</a> (then 450+ more),
                                    became president of the Parachute Club, and served as an officer for the
                                    <a href="http://acm.cs.ksu.edu/" target="_blank">Association for Computing Machinery</a>.
                                    </p>

                                    <p>I've also traveled more than 1,500 miles through campus on my electric longboard.</p>
                                </div>
                                <div class="4u$ 12u$(medium)">
                                    <p>Some of my favorite courses:
                                      <ul>
                                        <li>CIS 490 - Intro to Big Data Analytics</li>
                                        <li>CIS 560 - Database System Concepts</li>
                                        <li>MATH 725 - Math of Data and Networks I</li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#two" class="goto-next scrolly">Next</a>
                </section>

            <!-- Two -->
                <section id="two" class="spotlight style2 right">
                    <span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
                    <div class="content">
                        <header>
                            <h2>Skydiving</h2>
                            <p>Since May 2015, I have made more than 450 jumps, gained multiple <a href="http://www.uspa.org/http://www.uspa.org/" target="_blank">USPA</a>
                            instructional ratings, and earned my FAA Senior Parachute Rigger certificate.</p>
                        </header>
                        <p>I most enjoy instructing students and filming first-time tandem jumpers, but high-performance
                        canopy piloting is a close third.</p>

                        <p>In this photo, I'm throwing a barrel roll at 70mph above Abilene, KS on my 100 sqft Skylark Odyssey.</p>

                        <p>As the President of the K-State Parachute Club, I've had my hand in just about every aspect of the business.
                        Customer service, <a href="https://www.facebook.com/skydivekstate/" target="_blank">marketing</a>,
                        <a href="https://skydivekstate.com/" target="_blank">web design</a>, instructing, <a href="#">freefall photography</a>,
                        BS (bureaucratic stuff), graphic design, you name it.  Above all, I am comitted to making our club
                        and our sport as safe as possible.
                        </p>

                        <div class="box alt">
<div class="row 100% uniform">
                          <!--<div class="12u$">
                            <span class="image fit">
                                <img src="/images/mrvs-clouds.jpg">
                            </span>
                          </div>-->
                          <div class="12u$">
                            <span class="image fit">
                                <img src="/images/wichita-crew.jpg">
                            </span>
                          </div>
</div>
                        </div>
                        <!--<ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>-->
                    </div>
                    <a href="#three" class="goto-next scrolly">Next</a>
                </section>

            <!-- Three -->
                <section id="three" class="spotlight style3 left">
                    <span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
                    <div class="content">
                        <header>
                            <h2>Music</h2>
                            <p>"This will be our reply to violence: to make music more intensely, more beautifully,
                            more devotedly than ever before." - Leonard Bernstein</p>
                        </header>
                        <p>I began piano lessons at the age of 4 and have played ever since.</p>
                        <p>While at O'Fallon Township High School, I played tuba for 4 years in the Wind Ensemble and Marching Band
                        under the direction of the incredible Dr. G (bottom right).  I'll never forget the musical opportunities
                        I've had made possible by the OTHS band program, especially our Wind Ensemble performance at <a href="https://www.carnegiehall.org/Calendar/2014/5/27/0800/PM/OFallon-Township-High-School-Band-and-Choir/" target="_blank">Carnegie Hall</a>.</p>
                        <p>Although I am not currently playing in any ensembles, I enjoy practicing piano.  High on my list of pieces
                        to learn is Grainger's piano solo arrangement of Rachmaninoff's
                        <a href="https://www.youtube.com/watch?v=yJpJ8REjvqo" target="_blank">Concerto #2 in C Minor</a>.</p>
                        <!--<ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>-->
                    </div>
                    <a href="#four" class="goto-next scrolly">Next</a>
                </section>

            <!-- Four -->
                <section id="four" class="wrapper style1 special fade-up">
                    <div class="container">
                        <header class="major">
                            <h2>Accumsan sed tempus adipiscing blandit</h2>
                            <p>"This will be our reply to violence: to make music more intensely, more beautifully,
                            more devotedly than ever before." - Leonard Bernstein</p>
                        </header>
                        <div class="box alt">
                            <div class="row uniform">
                                <section class="4u 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-area-chart"></span>
                                    <h3>Ipsum sed commodo</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                                <section class="4u 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-comment"></span>
                                    <h3>Eleifend lorem ornare</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                                <section class="4u$ 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-flask"></span>
                                    <h3>Cubilia cep lobortis</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                                <section class="4u 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-paper-plane"></span>
                                    <h3>Non semper interdum</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                                <section class="4u 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-file"></span>
                                    <h3>Odio laoreet accumsan</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                                <section class="4u$ 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-lock"></span>
                                    <h3>Massa arcu accumsan</h3>
                                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                                </section>
                            </div>
                        </div>
                        <footer class="major">
                            <ul class="actions">
                                <li><a href="#" class="button">Magna sed feugiat</a></li>
                            </ul>
                        </footer>
                    </div>
                </section>

            <!-- Five -->
                <section id="five" class="wrapper style2 special fade">
                    <div class="container">
                        <header>
                            <h2>Magna faucibus lorem diam</h2>
                            <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
                        </header>
                        <form method="post" action="#" class="container 50%">
                            <div class="row uniform 50%">
                                <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                                <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
                            </div>
                        </form>
                    </div>
                </section>

{% endblock %}
